<h3 style="margin-bottom: 5px;">{{ site.t['app_name'][page.lang] }}</h3>
<img src="/assets/images/tfmcfw_v3.png" class="btn-img" alt="{{ site.t['app_name'][page.lang] }} version {{ site.app_version }}" />
<video style="outline:none; margin-top: -20px; margin-bottom: -5px; width:100%; height:100%;" controls preload="none" poster="/assets/videos/tfmcfw_v3_compatible.jpg">
  <source src="/assets/videos/tfmcfw_v3_compatible.mp4" type="video/mp4"/>
  Your browser does not support the video tag.
</video>
<small><a href="https://youtu.be/PfF1XbnHFDw" target="_blank">Watch in Youtube.</a></small>
<a href="{{ site.download_link_main }}" class="btn btn--stripe">Download {{ site.t['app_name'][page.lang] }} version {{ site.app_version }}</a>
{{ site.t['download_html_main'][page.lang] }}

<div style="display:block; background-color: #690; color: #fff; padding: 10px; margin-top: -20px;">
    Mark this app as <strong style="color: #fff;">#clean</strong> in your Windows Defender, Windows Smart Screen, other antivirus software.
</div>
<hr style="margin-top:10px; width:100;"/>

<h3 style="margin-bottom: 5px;">{{ site.t['app_name_classic'][page.lang] }}</h3>
<div style="display:block; width:100%;">
<div style="float:right; width:55%; height:auto%;">
<video style="outline:none; width:100%; height:100%; margin-bottom: -5px;" controls preload="none" poster="/The-Fastest-Mouse-Clicker-for-Windows/videos/TFMCfW_intro_2024.jpg">
  <source src="/The-Fastest-Mouse-Clicker-for-Windows/videos/TFMCfW_intro_2024.mp4" type="video/mp4"/>
  Your browser does not support the video tag.
</video>
<small><a href="https://youtu.be/BwB65SpH3-I" target="_blank">Watch in Youtube.</a></small>
</div>
<img src="/assets/images/tfmcfw_classic64.png" class="btn-img-half" alt="{{ site.t['app_name_classic'][page.lang] }} version {{ site.app_version_classic }}" />
</div>

<a href="{{ site.download_link_main_classic }}" class="btn btn--stripe">Download {{ site.t['app_name_classic'][page.lang] }} version {{ site.app_version_classic }}</a>
{{ site.t['download_html_main_classic'][page.lang] }}

<div style="display:block; background-color: #690; color: #fff; padding: 10px; margin-top: -20px;">
    Mark this app as <strong style="color: #fff;">#clean</strong> in your Windows Defender, Windows Smart Screen, other antivirus software.
</div>
<hr style="margin-top:10px; width:100;"/>
