<a name="ChangeLog"></a>
### What's New - The latest version&nbsp;{{site.app_version}}

#### ChangeLog

* Written from scratch cross-platform 64-bit application utilizing Qt, libuiohook technologies.
* Various mouse buttons and wheel rotations can trigger key pressed events and vice versa.
* Supports random mouse clicking in both time intervals and screen coordinates.
* Ultimately clean UI supports nice tooltip hint in the bottom right display corner while main window is minimized.
* Ideal for Roblox and Minecraft.

----

### What's New - The classic version&nbsp;{{site.app_version_classic}}

#### ChangeLog

* Recompiled as 64-bit application.
* Added long-awaited tooltips for the trigger keys.
* Fixed blurred GUI texts on 4K screens.
* Fixed: GitHub issue #20: Keyboard and Mouse locked and hardly able to control when pressing TOGGLE stop key.
* Few minor bug fixes.

----
