<a name="ChangeLog"></a>
### Novedades - Última versión: {{site.app_version}}

#### Registro de cambios

* Aplicación multiplataforma de 64 bits desarrollada desde cero, utilizando las tecnologías Qt y libuiohook.
* Varios botones del ratón y la rotación de la rueda pueden activar eventos de pulsación de teclas y viceversa.
* Admite clics aleatorios del ratón en intervalos de tiempo y coordenadas de pantalla.
* Interfaz de usuario limpia con sugerencias emergentes en la esquina inferior derecha cuando la ventana principal está minimizada.
* Ideal para Roblox y Minecraft.

### Novedades -  Versión clásica {{site.app_version_classic}}

#### Registro de cambios

* Recompilada como aplicación de 64 bits.
* Se añadieron las esperadas sugerencias emergentes para las teclas de activación.
* Se corrigió el desenfoque del texto de la interfaz gráfica en pantallas 4K.
* Solucionado: Problema #20 de GitHub: El teclado y el ratón se bloqueaban y resultaba prácticamente imposible controlarlos al pulsar la tecla de alternancia de parada.
* Corrección de algunos errores menores.
