<a name="ChangeLog"></a>
### Novidades - A versão mais recente {{site.app_version}}

#### ChangeLog

* Aplicativo multiplataforma de 64 bits desenvolvido do zero, utilizando as tecnologias Qt e libuiohook.
* Vários botões do mouse e rotações da roda podem acionar eventos de teclas pressionadas e vice-versa.
* Suporta cliques aleatórios do mouse em intervalos de tempo e coordenadas da tela.
* Interface de usuário extremamente limpa com dicas úteis no canto inferior direito da tela quando a janela principal está minimizada.
* Ideal para Roblox e Minecraft.

----

### Novidades - Versão clássica {{site.app_version_classic}}

#### ChangeLog

* Recompilado como aplicativo de 64 bits.
* Adicionadas dicas de ferramentas para as teclas de gatilho.
* Corrigido o problema de texto borrado na interface gráfica em telas 4K.
* Corrigido: Problema #20 no GitHub: Teclado e mouse travados e praticamente impossíveis de controlar ao pressionar a tecla de parada TOGGLE.
* Algumas pequenas correções de bugs.

----
